.gameOver{
  display: none;
  color: red;
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 100;
  float: right;
  font-size: 30px;
}

.score{
  display: block;
  color: red;
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 100;
  float: right;
  font-size: 20px;
}

.lives{
  display: block;
  color: red;
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 100;
  float: right;
  font-size: 20px;
}
